DTD-ADICIONAL-3/PEDIDOS.dtd

<!ENTITY MiEmpresa "Esta es mi Empresa">

<!ELEMENT pedidos (pedido+)>

<!ELEMENT pedido ((empresa | persona), producto+, fecha, factura?)>

<!ELEMENT empresa (#PCDATA)>
<!ATTLIST empresa 
    CIF ID #REQUIRED
    sector NMTOKEN #IMPLIED
    actividad NMTOKENS #IMPLIED>

<!ELEMENT persona (#PCDATA)>
<!ATTLIST persona 
    NIF ID #REQUIRED>

<!ELEMENT producto (#PCDATA)>
<!ATTLIST producto 
    id_prod ID #REQUIRED>

<!ELEMENT fecha (#PCDATA)>

<!ELEMENT factura (emisor, total, fecha)>
<!ELEMENT emisor (#PCDATA)>
<!ELEMENT total (#PCDATA)>

<!ATTLIST factura 
    numfactura ID #REQUIRED
    cliente IDREF #REQUIRED
    productos IDREFS #REQUIRED>